html,
body {
  background-color: #fff;
  color: #636b6f;
  font-family: "Nunito", sans-serif;
  font-weight: 200;
  height: 100vh;
  margin: 0;
}

html .full-height,
body .full-height {
  height: 100vh;
}

html .flex-center,
body .flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

html .position-ref,
body .position-ref {
  position: relative;
}

html .top-right,
body .top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.content {
  text-align: center;
}

.content .title {
  font-size: 84px;
}

.content .m-b-md {
  margin-bottom: 30px;
}

.content .links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-decoration: none;
  text-transform: uppercase;
}

